/*------------------FONTS-------------------*/
@font-face{
	font-family: bilbao;
	src: url(assets/fonts/Bilbao-Regular.ttf);
}

@font-face{
	font-family: bilbao-button;
	src: url(assets/fonts/Bilbao-SemiBolditalic.ttf);
}

@font-face{
	font-family: silkscreen;
	src: url(assets/fonts/Silkscreen.ttf);
}
/*------------------------------------------*/


/*--------------MAIN COLORS-----------------*/
WHITE - #FFFFFF
BLACK - #121212
PURPLE - #9E18AE
ORANGE - #FD7B0C
/*------------------------------------------*/


/*--------------FONTS APPLIED---------------*/

@media only screen and (min-width: 200px) {
	h1, h3{
		font-family: silkscreen;
	}

	h2, h4, p, .made-by, .credit{
		font-family: bilbao;
	}

	/*MENU AND PAGE SUBTITLE*/
	h1{
		font-size: 32px;
	}

	/*NAME*/
	h2{
		font-size: 24px;
	}

	/*PROJECT NAME*/
	h3{
		font-size: 22px;
	}

	/*PROJECT DESCRIPTION*/
	h4{
		font-size: 18px;
	}

	p{
		font-size: 16px;
	}

	.made-by{
		font-size: 14px;
	}

	.credit{
		font-size: 12px;
	}
}

@media only screen and (min-width: 1024px) {
	/*MENU AND PAGE SUBTITLE*/
	h1{
		font-size: 48px;
	}

	/*NAME*/
	h2{
		font-size: 34px;
	}

	/*PROJECT NAME*/
	h3{
		font-size: 28px;
	}

	/*PROJECT DESCRIPTION*/
	h4{
		font-size: 18px;
	}

	p{
		font-size: 16px;
	}

	.made-by{
		font-size: 16px;
	}

	.credit{
		font-size: 14px;
	}
}
/*------------------------------------------*/


/*-------------------MENU-------------------*/
@media only screen and (max-width: 1023px) {
	.mobile-header{
		width: 100%;
		height: 100px;
		padding: 25px;

		display: flex;
		justify-content: space-between;
	}

	.mobile-header .logo{
		width: 75px;
		height: auto;
	}

	.mobile-header .name{
		width: auto;
		height: auto;
	}

	.mobile-header .menu{

	}

	.mobile-header .menu.closed{

	}

	.mobile-header .menu.open{
		
	}
}

@media only screen and (min-width: 1024px) {
	
}
/*------------------------------------------*/


/*-----------------GENERAL------------------*/
body{
	margin: 0px;
	width: 100vw;
	color: #121212;
}
/*------------------------------------------*/


/*------------------LAYOUT------------------*/



/*------------------------------------------*/


/*----------------ANIMATIONS----------------*/



/*------------------------------------------*/