/*------------------LAYOUT------------------*/
@media only screen and (min-width: $mobile) {
    .container {
        padding: 20px 50px 20px 50px;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        main {
            width: 100%;
            height: auto;
            min-height: calc(100vh - 220px);
        }
    }
}

@media only screen and (min-width: $tablet) {
    .container {
        margin-left: 250px;
        padding: 75px 265px 70px 130px;

        main {
            margin-top: 60px;
            min-height: calc(100vh - 260px);
        }
    }
}
/*------------------------------------------*/
