/*------------------LAYOUT------------------*/
@media only screen and (min-width: $mobile) {
	.container {
		padding: 2vw 50px 20px 50px;

		display: flex;
		flex-direction: column;
		flex-wrap: wrap;

		main {
			width: 100%;
			height: auto;
			min-height: calc(100vh - 295px);
		}
	}
}

@media only screen and (min-width: $tablet) {
	.container {
		margin-left: 175px;
		padding: 75px 10vw 20px 75px;

		main {
			margin-top: 0px;
			min-height: calc(100vh - 260px);
		}
	}
}
/*------------------------------------------*/
