/*--------------MEDIA QUERIES---------------*/
$mobile: 200px;
$tablet: 850px;
$short: 560px;
/*------------------------------------------*/

/*------------------FONTS-------------------*/
@font-face {
	font-family: bilbao;
	src: url(https://alexandramendes.com/assets/fonts/Bilbao-Normal.ttf);
	src: url(https://alexandramendes.com/assets/fonts/Bilbao-Normal.ttf) format("truetype");
}

@font-face {
	font-family: bilbao-bold;
	src: url(https://alexandramendes.com/assets/fonts/Bilbao-Regular.ttf);
	src: url(https://alexandramendes.com/assets/fonts/Bilbao-Regular.ttf) format("truetype");
}

@font-face {
	font-family: bilbao-button;
	src: url(https://alexandramendes.com/assets/fonts/Bilbao-SemiBolditalic.ttf);
	src: url(https://alexandramendes.com/assets/fonts/Bilbao-SemiBolditalic.ttf) format("truetype");
}

@font-face {
	font-family: silkscreen;
	src: url(https://alexandramendes.com/assets/fonts/Silkscreen.ttf);
	src: url(https://alexandramendes.com/assets/fonts/Silkscreen.ttf) format("truetype");
}

@font-face {
	font-family: mangueira;
	src: url(https://alexandramendes.com/assets/fonts/Mangueira-Regular.ttf);
	src: url(https://alexandramendes.com/assets/fonts/Mangueira-Regular.ttf) format("truetype");
}

@font-face {
	font-family: mangueira-bold;
	src: url(https://alexandramendes.com/assets/fonts/Mangueira-SemiBold.ttf);
	src: url(https://alexandramendes.com/assets/fonts/Mangueira-SemiBold.ttf) format("truetype");
}

$fVerySmall: 14px;
$fSmall: 16px;
$fMedium: 18px;
$fLarge: 20px;
$fVeryLarge: 22px;
/*------------------------------------------*/

/*--------------MAIN COLORS-----------------*/
$cWhite: #fefefa;
$cBlack: #121212;
$cPurple: #9e18ae;
$cOrange: #fd7b0c;
/*------------------------------------------*/

/*----------------BORDERS-------------------*/
$bSmall: 4px;
$bLargeMobile: 5px;
$bLargeWeb: 6px;
/*------------------------------------------*/
