/*------------FONT STYLE & SIZE-------------*/
@media only screen and (min-width: $mobile) {
    h1,
    h3 {
        font-family: silkscreen;
        font-weight: normal;
    }

    h2,
    h4,
    p,
    .made-by,
    .credit {
        font-family: bilbao;
        font-weight: 600;
    }

    /*MENU AND PAGE SUBTITLE*/
    h1 {
        font-size: 32px;
    }

    /*NAME*/
    h2 {
        font-size: 24px;
        font-weight: 700;
    }

    /*PROJECT NAME*/
    h3 {
        font-size: 22px;
    }

    /*PROJECT DESCRIPTION*/
    h4 {
        font-size: 18px;
        font-weight: 700;
    }

    p {
        font-size: 16px;
    }

    .made-by {
        font-size: 14px;
    }

    .credit {
        font-size: 12px;
    }
}

@media only screen and (min-width: $tablet) {
    /*MENU AND PAGE SUBTITLE*/
    h1 {
        font-size: 48px;
    }

    /*NAME*/
    h2 {
        font-size: 34px;
    }

    /*PROJECT NAME*/
    h3 {
        font-size: 28px;
    }

    /*PROJECT DESCRIPTION*/
    h4 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }

    .made-by {
        font-size: 16px;
    }

    .credit {
        font-size: 14px;
    }
}
/*------------------------------------------*/

/*----------------GENERAL-------------------*/
html {
    height: 100%;
}

body {
    margin: 0px;
    width: 100%;
    min-height: 100%;
    color: #121212;
}
/*------------------------------------------*/

/*----------------OVERRIDE------------------*/
a {
    text-decoration: none;
    color: $cBlack;
}
/*------------------------------------------*/
