/*------------FONT STYLE & SIZE-------------*/
@media only screen and (min-width: $mobile) {
	h1,
	h3 {
		font-family: silkscreen;
		font-weight: normal;
	}

	h2,
	h4,
	p,
	a,
	.made-by,
	.credit {
		font-family: bilbao;
		font-weight: 600;
	}

	// /*MENU AND PAGE SUBTITLE*/
	// h1 {
	// 	font-size: 20px;
	// }

	// /*NAME*/
	// h2 {
	// 	font-size: 18px;
	// 	font-weight: 700;
	// }

	// /*PROJECT NAME*/
	// h3 {
	// 	font-size: 18px;
	// }

	// /*PROJECT DESCRIPTION*/
	// h4 {
	// 	font-size: 12px;
	// 	font-weight: 700;
	// }

	// p,
	// a {
	// 	font-size: 12px;
	// }

	// .made-by {
	// 	font-size: 12px;
	// }

	// .credit {
	// 	font-size: 10px;
	// }

	/*MENU AND PAGE SUBTITLE*/
	h1 {
		font-size: $fVeryLarge;
	}

	/*NAME*/
	h2 {
		font-size: $fMedium;
		font-weight: 700;
	}

	/*PROJECT NAME*/
	h3 {
		font-size: $fLarge;
	}

	/*PROJECT DESCRIPTION*/
	h4 {
		font-size: $fMedium;
		font-weight: 700;
	}

	p,
	a {
		font-size: $fSmall;
	}

	.made-by {
		font-size: $fSmall;
	}

	.credit {
		font-size: $fVerySmall;
	}
}

@media only screen and (min-width: $tablet) {
	// /*MENU AND PAGE SUBTITLE*/
	// h1 {
	// 	font-size: 18px;
	// }

	// /*NAME*/
	// h2 {
	// 	font-size: 16px;
	// }

	// /*PROJECT NAME*/
	// h3 {
	// 	font-size: 16px;
	// }

	// /*PROJECT DESCRIPTION*/
	// h4 {
	// 	font-size: 14px;
	// }

	// p,
	// a {
	// 	font-size: 14px;
	// }

	// .made-by {
	// 	font-size: 14px;
	// }

	// .credit {
	// 	font-size: 12px;
	// }
}
/*------------------------------------------*/

/*----------------GENERAL-------------------*/
body {
	margin: 0px;
	width: 100%;
	color: $cBlack;
	background-color: $cWhite;
}

div,
nav,
header {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

.text-link {
	border-bottom: solid $cBlack 1.5px;
	font-family: bilbao-bold;
}
/*------------------------------------------*/

/*----------------OVERRIDE------------------*/
a {
	text-decoration: none;
	color: $cBlack;
	font-family: bilbao-bold;
}
/*------------------------------------------*/
