/*------------------CARDS-------------------*/
.card-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

@media only screen and (min-width: $mobile) {
	.card-img {
		width: 100%;
		height: 165px;
		border-radius: 15px;
	}

	.project-info {
		width: 80%;
		height: auto;
		padding: 15px;
		border-radius: 15px;
		box-shadow: 0px 0px 8px grey;

		background-color: $cWhite;
	}
}

@media only screen and (min-width: $tablet) {
	.card-img {
		width: 350px;
		height: 200px;
	}

	.project-info {
		width: 300px;
	}
}
/*------------------------------------------*/
