/*------------------FOOTER------------------*/
@media only screen and (min-width: $mobile) {
	.alert {
		opacity: 0;
		transition: 0.2s ease-in;
		width: 100%;
		display: flex;
		justify-content: flex-end;

		h3 {
			width: 100px;
			height: 30px;
			margin-right: -20px;
			padding: 10px;
			padding-top: 10px;

			font-size: 15px;

			background-image: url(https://alexandramendes.com/assets/images/bubble_s.png);
			background-size: cover;
		}
	}

	footer {
		width: 100%;
		height: 180px;

		display: flex;
		flex-direction: column;

		.social {
			width: 140px;
			margin: auto;
			margin-bottom: 20px;

			display: flex;
			justify-content: space-between;

			img {
				width: 25px;
				height: 25px;
				cursor: pointer;
			}
		}

		.footer-info {
			width: 100%;
			height: auto;

			.credit,
			a {
				font-family: bilbao;
				font-size: $fSmall;
			}
		}
	}
}

@media only screen and (min-width: $tablet) {
	.alert {
		bottom: 125px;

		h3 {
			margin-right: -70px;
		}
	}

	footer {
		height: 100px;
		padding: 0px;

		flex-direction: row;

		.footer-info {
			width: 60%;
			height: 100%;

			order: 1;
		}

		.social {
			width: 70%;
			height: 100%;
			padding-left: 20vw;

			order: 2;

			img {
				width: 35px;
				height: 35px;
			}
		}
	}
}
/*------------------------------------------*/
