/*----------------PROJECTS------------------*/
@media only screen and (min-width: $mobile) {
	.projects {
		main {
			.card-container {
				.project-info-link {
					width: 100%;
					max-width: none;
				}
			}

			.project-link {
				margin-top: 30px;
			}

			.project-banner {
				display: flex;
				width: 100%;
				height: 250px;
				margin-top: 20px;

				img {
					width: 100%;
					object-fit: cover;
				}
			}

			.project-description {
				display: flex;
				width: 100%;
			}
		}
	}
}

@media only screen and (min-width: $tablet) {
	.projects {
		main {
			.project-card {
				.project-info-link {
					position: relative;
					bottom: 35px;
					right: 0px;
				}
			}

			.project-link {
				margin-top: 50px;
			}
		}
	}
}
/*------------------------------------------*/
