/*------------------WORK--------------------*/
@media only screen and (min-width: $mobile) {
	main {
		.projects {
			display: flex;
			justify-content: space-between;
			margin-top: 40px;
		}
	}
}

@media only screen and (min-width: $tablet) {
	main {
		.projects {
			margin-top: 50px;
		}
	}
}
/*------------------------------------------*/
